html, body, #terminal {
    background: black;
    height: 100%;
    width: 100%;
    padding: 0%;
    margin: 0%;
    overflow: hidden;
    overscroll-behavior: none; /* Disable pull-to-refresh */
}

.progress .progress-bar {
  transition: unset;
  transition-duration: 0.1s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}